/* Reset styles */
body, h1, h2, p {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  line-height: 1.6;
  background-color: #FFFFFF; /* Default to light mode */
  color: #333333; /* Default text color */
}

body.dark-mode {
  background-color: #1E1E1E;
  color: #FFFFFF;
}

.ljmu-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  background-color: #F2F2F2; /* Default to off-white */
  color: #333333; /* Default header text color */
}

.ljmu-header button, .ljmu-header h1 {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 1.2em;
  color: #333333; /* Updated to black in light mode */
}

.ljmu-header button {
  background: none;
  border: none;
  cursor: pointer;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #FFA500; /* Orange accent for slider */
  transition: .4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: #1E1E1E;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #333333;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.main-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px;
}

.section {
  background-color: #F2F2F2; /* Default to off-white */
  color: #333333; /* Default text color */
  border-radius: 15px;
  margin: 10px;
  padding: 20px;
  width: calc(50% - 20px); /* Adjusted width calculation */
  text-align: center;
  box-sizing: border-box;
}

.placeholder {
  width: 100%;
  height: 0;
  padding-bottom: 56.25%; /* 16:9 ratio */
  position: relative;
  overflow: hidden;
  margin-bottom: 20px;
  border-radius: 15px;
  background-color: #FFECB3; /* Very light orange */
}

.placeholder iframe {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 15px; /* Border-radius added to iframe */
}

.live-section, .weekly-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  border-radius: 15px;
  overflow: hidden;
  margin-bottom: 20px;
  width: 100%; /* Updated width to 100% */
}

.stat {
  width: calc(50% - 20px); /* Adjusted width calculation */
  margin: 10px;
  padding: 15px;
  background-color: #FFECB3; /* Very light orange */
  border-radius: 15px;
  text-align: center;
  color: #333333; /* Default text color in light mode */
}

body.dark-mode .stat {
  background-color: #FFA500; /* Darker orange in dark mode */
  color: #FFFFFF; /* White text in dark mode */
}

.progress-bar-container {
  width: 80%;
  height: 20px;
  background-color: #eee;
  margin: 10px 0;
  position: relative;
  border-radius: 15px;
}

.progress-bar {
  height: 100%;
  background-color: #1cf28c; /* Green bar color */
  width: 0;
}

.map-container {
  width: 100%; /* Set width to 100% */
  margin: 10px; /* Add margin for spacing */
  border-radius: 15px; /* Border-radius for container */
}

.map {
  width: 100%; /* Set width to 100% */
  height: 200px; /* Set a fixed height */
  border-radius: 15px; /* Border-radius for map */
}

.footer {
  background-color: #F2F2F2; /* Default to off-white */
  color: #333333; /* Default text color */
  padding: 1rem;
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  border-top: 1px solid #eee;
}

body.dark-mode .ljmu-header,
body.dark-mode .footer {
  background-color: #333333;
  color: #FFFFFF;
}

body.dark-mode .placeholder {
  background-color: #333333; /* Dark mode placeholder background */
}
