/* Google Font Link */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* Reset styles */
body, h1, h2, p {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    line-height: 1.6;
}

body.dark-mode {
    background-color: #1E1E1E;
    color: #FFFFFF;
}

.ljmu-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    background-color: #333333;
    color: #FFFFFF;
}

.ljmu-header button, .ljmu-header h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 1.2em;
    color: #FFFFFF;
}

.ljmu-header button {
    background: none;
    border: none;
    cursor: pointer;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #FFA500;
    transition: .4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: #FFFFFF;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #333333;
}

input:checked + .slider:before {
    transform: translateX(26px);
}

.main-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

.section {
    background-color: #333333;
    color: #FFFFFF;
    border-radius: 10px;
    margin: 10px;
    padding: 20px;
    width: 300px;
    text-align: center; /* Center the content */
}

.placeholder {
    width: 100%;
    height: 0;
    padding-bottom: 56%;
    position: relative;
    overflow: hidden; /* Ensure content does not overflow */
    margin-bottom: 20px;
}

/* Add the new styles for stats */
.live-section, .weekly-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.stat {
    width: 48%; /* Adjust as needed for spacing */
    margin: 10px;
    padding: 15px;
    background-color: #555555; /* Dark gray for stats boxes */
    border-radius: 10px;
    text-align: center;
    color: #FFFFFF;
}
