/* Enhanced CSS with improvements for use alongside Tailwind */

:root {
  --background-color-light: #FFFFFF;
  --text-color-light: #333333;
  --accent-color: #FFA500; /* Orange accent for slider and other elements */
  --background-color-dark: #1E1E1E;
  --text-color-dark: #FFFFFF;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--background-color-light); /* Use CSS variable */
  color: var(--text-color-light); /* Use CSS variable */
}

body.dark-mode {
  background-color: var(--background-color-dark);
  color: var(--text-color-dark);
}

/* Use Tailwind classes for layout, margin, padding, and text styling where possible */

/* Custom styles for unique elements not covered by Tailwind */
.slider {
  background-color: var(--accent-color);
}

.slider:before {
  background-color: var(--background-color-dark);
}

input:checked + .slider {
  background-color: var(--text-color-light);
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.progress-bar {
  background-color: #1cf28c; /* Consider using Tailwind's green colors for consistency */
}

/* Responsive Design Enhancements */
@media (max-width: 768px) {
  .stat, .section {
    width: 100%; /* Make stats and sections full width on smaller screens */
    margin: 10px 0; /* Adjust margins for vertical stacking */
  }
}

/* Dark Mode Specific Styles */
body.dark-mode .stat {
  background-color: var(--accent-color); /* Consistent with slider */
  color: var(--text-color-dark);
}
