<!DOCTYPE html>
<html>
<head>
    <title>Send Sensor Data</title>
</head>
<body>
    <script>
        function sendSensorData(latitude, longitude) {
            fetch('http://localhost:5000/sensor_data', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({latitude, longitude}),
            })
            .then(response => response.json())
            .then(data => console.log(data))
            .catch((error) => console.error('Error:', error));
        }

        navigator.geolocation.getCurrentPosition(function(position) {
            sendSensorData(position.coords.latitude, position.coords.longitude);
        });
    </script>
</body>
</html>
