<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Sayara</title>
</head>
<body class="dark-mode">
    <header class="ljmu-header">
        <div class="header-content">
            <h1>Sayara</h1>
            <div class="dark-mode-switch">
                <label class="switch">
                    <input type="checkbox" id="dark-mode-toggle">
                    <span class="slider round"></span>
                </label>
            </div>
        </div>
    </header>

    <main class="main-content">
        <!-- Front Camera Section -->
        <section class="camera-section">
            <h2>Front Camera</h2>
            <div class="video-background">
                <div class="video-container">
                    <div class="video-block">
                        <iframe src="https://www.youtube.com/embed/e5Ea2dDSEqc?autoplay=1&mute=1&loop=1&playlist=e5Ea2dDSEqc" frameborder="0" allowfullscreen></iframe>
                        <div class="video-caption">Original Video</div>
                    </div>
                    <div class="video-block">
                        <iframe src="https://www.youtube.com/embed/nxo-p7QpCc0?autoplay=1&mute=1&loop=1&playlist=nxo-p7QpCc0" frameborder="0" allowfullscreen></iframe>
                        <div class="video-caption">Object Detection Video</div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Back Camera Section -->
        <section class="camera-section">
            <h2>Back Camera</h2>
            <div class="video-background">
                <div class="video-container">
                    <div class="video-block">
                        <iframe src="https://www.youtube.com/embed/AN3LHHDCtmU?autoplay=1&mute=1&loop=1&playlist=AN3LHHDCtmU" frameborder="0" allowfullscreen></iframe>
                        <div class="video-caption">Original Video</div>
                    </div>
                    <div class="video-block">
                        <iframe src="https://www.youtube.com/embed/BAn2CMGcRwQ?autoplay=1&mute=1&loop=1&playlist=BAn2CMGcRwQ" frameborder="0" allowfullscreen></iframe>
                        <div class="video-caption">Object Detection Video</div>
                    </div>
                </div>
            </div>
        </section>


        <!-- Driver Camera Section -->
        <section class="camera-section">
            <h2>Driver Camera</h2>
            <div class="video-background">
                <div class="video-container">
                    <div class="video-block">
                        <iframe src="https://www.youtube.com/embed/_9veIqhu1fg?autoplay=1&mute=1&loop=1&playlist=_9veIqhu1fg" frameborder="0" allowfullscreen></iframe>
                        <div class="video-caption">Original Video</div>
                    </div>
                    <div class="video-block">
                        <iframe src="https://www.youtube.com/embed/WgVPJXAq9aA?autoplay=1&mute=1&loop=1&playlist=WgVPJXAq9aA" frameborder="0" allowfullscreen></iframe>
                        <div class="video-caption">Object Detection Video</div>
                    </div>
                </div>
            </div>
        </section>

   <!-- App Explanation Sections -->
<div class="app-explanations-container">
    <!-- First Row -->
    <section class="app-explanation">
        <h2>App Aim</h2>
        <p>Sayara aims to revolutionize road safety and efficiency by integrating advanced driver assistance features with comprehensive vehicle tracking for companies. My goal is to leverage cutting-edge technology to enhance driving experiences and streamline fleet management.</p>
    </section>

    <section class="app-explanation">
        <h2>Purpose</h2>
        <p>The purpose of Sayara is to address critical needs in road safety and fleet management by providing data and analytics through cameras and sensors. By doing so, we aim to prevent accidents, optimize driver performance, and contribute to safer road environments.</p>
    </section>

    <!-- Second Row -->
    <section class="app-explanation">
        <h2>Scope</h2>
        <p>Sayara is designed for individual drivers seeking enhanced safety features and companies looking to improve their fleet management. The app includes functionalities like vehicle tracking, driver monitoring, and data analytics, making it versatile for various users and scenarios.</p>
    </section>

    <section class="app-explanation">
        <h2>Requirements</h2>
        <p>To use Sayara effectively, a minimum setup of a 4-core CPU and 8GB RAM is required, with a recommended setup of a 6-core CPU, 16GB RAM, and an Nvidia graphics card for optimal performance. The backend requires Python with support for YOLOv8 and DeepSORT, while the frontend can be managed through any standard web development IDE.</p>
    </section>

    <!-- How It Works Section -->
    <section class="app-explanation">
        <h2>How It Works</h2>
        <p>Sayara works by capturing and analyzing data from vehicle-mounted cameras and sensors. This information is processed using AI algorithms like YOLOv8 and DeepSORT for object detection and tracking, providing actionable insights and alerts to drivers and fleet managers through a user-friendly dashboard.</p>
    </section>
</div>

<section class="camera-section">
    <h2>Upload Your Video</h2>
    <div class="upload-container">
        <input type="file" id="video-upload" name="video" accept="video/*" hidden>
        <button onclick="document.getElementById('video-upload').click()" class="file-choose-button">Choose File</button>
        <button class="upload-button">Upload Video</button>
    </div>
    <div id="progress">
        <div id="progress-bar" style="width: 0%;">0%</div>
    </div>
    <!-- Video Display Section -->
    <div class="videos-display">
        <div class="video-block">
            <h3>Original Video</h3>
            <iframe src="your-original-video-url" frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="video-block">
            <h3>Processed Video</h3>
            <iframe src="your-processed-video-url" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
</section>

<div id="disqus_thread"></div>
<script>
    /**
    *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
    *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables    */
    
    var disqus_config = function () {
    this.page.url = 127.0.0.1:5000; // Replace PAGE_URL with your page's canonical URL variable
    this.page.identifier = "main"; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
    };
    
    (function() { // DON'T EDIT BELOW THIS LINE
    var d = document, s = d.createElement('script');
    s.src = 'https://vekagg.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    </main>

    <footer class="footer">
        <p>Made with ❤️ for Liverpool John Moores University - BSc Computer Science Final year project. Copyright is of their respective owners.</p>
    </footer>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    <script id="dsq-count-scr" src="//vekagg.disqus.com/count.js" async></script>
</body>
</html>
